@media only screen and (max-width:600px) {
    .createPost-container{
        position: absolute;
        height: 50%;
        width: 80%;
        background-color: rgb(165, 126, 126);
        top:25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .createPost-container>form{
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: space-between; */
    }
    
}