
.cards{
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.box{

    display: flex;
    flex-direction: column;
    min-height:550px; 
    margin-bottom:5px;
    width: 450px;
    margin-top:50px ;
    border:2px solid black;
}
.box-top{
    display: flex;
    min-height: 80px;
    width: 100%;
    background-color: black;
}
.box-mid{
    min-height: 400px;
    /* max-height: 300px; */
    width: 100%;
    /* background-color: red; */
}
.box-bottom{
    max-height: 166px;
    width: 100%;
    background-color: black;
}
.box-top-left{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:10px;
    min-width: 50%;
    height: 80px;
    /* background-color: blue; */
}
.box-top-left>img{
    height: 50%;
    width: 20%;
    margin-right: 10px;
    border-radius: 50%;
    /* background-color: green; */
    border: 2px solid white;
}
.box-top-right{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:10px;
    width: 50%;
    height: 80px;
    /* background-color: blue; */
}
.box-mid>img{
    height: 400px;
    width: 100%;
}
.like-comment{
    display: flex;
    justify-content: flex-start;
    height: 40px;
    /* background-color: blue; */
}
.like-comment>img{
    margin-left: 10px;
    max-height: 35px;
    margin-top:5px ;
}
.footer-content{
    height: 126px;
    margin-left: 10px;
    margin-top:5px ;
    width: 90%;
    color:white;
    /* background-color: blue;   */
}
.footer-content>p{
    margin-top:5px;
}